[submodule "src/simplemenu"]
	path = src/simplemenu
	url = git@github.com:Rparadise-Team/simplemenu.git
	branch = mmiyoo
[submodule "src/invoker"]
	path = src/invoker
	url = git@github.com:Rparadise-Team/invoker.git
[submodule "src/RetroArch"]
	path = src/RetroArch
	url = git@github.com:libretro/RetroArch.git
